html {
    
}

header div {
    background-color: #292148;
}

section div {
    background-color: #bada55;
}

footer div {
    background-color: #292148;
    color: #fafafa;
}

div {
    padding: 1px;
    margin-bottom: 5px;
    text-align: center;
}

.banner {
    margin-top: 10px;
}

.social-links li a i {
    height: 40px;
    width: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: -20px;
    text-align: center;
    background: #C4C0C1;
}

.nav {
    font-size: 20px;
    background-color: #525252;
}

.nav li a {
    color: #fafafa;
}