html {
    
}

header div {
    background-color: #292148;
}

section {
    color: #fafafa;
}

section .home {
    background-color: #399EBF;
    color: #fafafa;
}

section .band {
    background-color: #2F7070;
}

section .live {
    background-color: #399EBF;
}

footer div {
    background-color: #292148;
    color: #fafafa;
}

div {
    padding: 1px;
    margin-bottom: 5px;
    text-align: center;
}

.images {
    margin: auto;
    padding: 0;
}

.imglink {
    float: left;
    margin: 10px 20px 10px 20px;
}

.imglink:hover {
    border: 10px solid #fafafa;
   
}

.imglink:active {
    border: 10px solid #292148;
   
}

.titlediv {
    margin-top: 20px;
}

.navbar-inverse {
    border: none;
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 0;
    
}

.navbar-btn:hover {
    background-color: #399EBF;
    border-color: #fafafa;
}

a {
    color: #ffffff;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #2EF0EC;
}

ul {
    list-style-type: none;
}

span {
    color: #292148;
}

.history {
    margin-bottom: 2px;
    margin-top: 2px;
    max-height: 300px;
    overflow-y: scroll;
}


.members {
    background-color: #bada55;
    max-height: 300px;
    overflow-x: scroll;
}

.headshots {
    
    display: inline;
}

.box {
      width: 150px;
      height: 150px;
      background-color: #e84610;
      margin: 5px;
      display: inline-block;
    }




.fa {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links li a i {
    height: 40px;
    width: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: -20px;
    text-align: center;
    background: #C4C0C1;
}

.form-text {
    font-size: 16px;
    color: #2EF0EC;
}

.checkavail {
    color: #2EF0EC;
}

.submit {
    background-color: #292148;
    border-color: #000000;
    font-size: 16px;
    font-weight: bold;
    color: #399EBF;
    border-radius: 10%;
    height: 50px;
    width: 120px;
}

.btn {
    font-size: 20px;
    background-color: #292148;
    border-style: solid;
    border-width: 2px;
    border-color: #399EBF;
    height:50px;
    width:90px;
    margin-left: 10px;
    margin-bottom: 0;
    color: #C4C0C1;
    display: inline-block;
}


@media (max-width: 1200px) and (min-width: 992px) {

.btn {
    font-size: 18px;
    height:45px;
    width:80px;
    margin: 0 0 0 10px;
}
}

@media (max-width: 991px) and (min-width: 768px) {

.btn {
    font-size: 13px;
    height:40px;
    width: 65px;
    margin: 0 0 0 10px;
}
}

@media (max-width: 768px) and (min-width: 1px) {

.btn {
    font-size: 15px;
    height:45px;
    width:100%;
    margin: 10px 0 0 0;
}
}